<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>
    <h2 class="text-center text-primary">
        <i>
            <%=hotel.Name%>
        </i>
    </h2>
    <h3 class="text-center">Location:</h3>
    <h4 class="text-center text-primary">
        <i>
            <%=hotel.Location%>
        </i>
    </h4>
    <h3 class="text-center">Rate:</h3>
    <% if(hotel.rated) { %>
        <h4 class="text-center text-primary">
            <i>
                <%=hotel.avg%>
            </i>
        </h4>
    <% } else {%>
        <div class="text-center">
            <button 
            onclick="makeRate(1,
            'http\:\/\/localhost:3000\/hotels\/<%=hotel.id%>\/rate' )"
            class="btn btn-success"> Rate a hotel</button>
        </div>
    <% }; %>
    <script src="../javascripts/managing.js"></script>
</body>

</html>