<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/navbar.ejs') %>
            <div class="container" style="
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;">
                <div class="row w-50 rounded p-3" style="background-color: rgba(53, 53, 53, 0.829);">
                    <h2 class="text-center text-danger mb-2">
                        <%=hotel.Name%>
                    </h2>
                    <h3 class="text-center text-light mb-2">Location:
                        <i class="text-center text-warning">
                            <%=hotel.Location%>
                        </i>
                    </h3>
                    <% if(user) { %>
                    <h3 class="text-center text-light">
                        Rating:
                        <i class="text-center text-warning">
                            <%=hotel.avg%>
                        </i>
                    </h3>
                    <div class="text-center">
                        <button onclick="giveARating('<%=userId%>',
                        'http\:\/\/localhost:3000\/hotels\/<%=hotel.id%>\/rating')" class="btn btn-success"> Rate a
                            hotel</button>
                    </div>
                    <% } else { %>
                    <h3 class="text-center text-light">
                        Rating:
                        <i class="text-center text-warning">
                            <%=hotel.avg%>
                        </i>
                    </h3>
                </div>
                <% }; %>
            </div>
        <script src="../javascripts/managing.js"></script>
    </body>

</html>