<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
        <h2 class="p-3">Choose a hotel</h2>
        <div class="list-group">
            <% hotels.forEach(function(hotel) { %>
                <div class="row px-3 py-1 w-100">
                    <span class="col py-1 bg-info">
                        <%=hotel.Name%>
                            <span class="right">
                                <%=hotel.Location%>
                            </span>
                    </span>
                    <a href="/rooms/<%=hotel.id%>" class="col btn btn-secondary"> Rent a room</a>
                    <a href="/hotels/<%=hotel.id%>" class="col btn btn-secondary"> Details</a>
                    <button onclick="deleteHotel(<%=hotel.id%>)" class="col btn btn-secondary"> Delete</button>
                </div>
            <% }); %>
        </div>
        <button id="addHotel" onclick="addHotel()" class="col btn btn-secondary"> Add Hotel </button>
    </div>
    <script src="../javascripts/managing.js"></script>
</body>

</html>