<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container pb-5">
        <h1 class="p-3">Choose a hotel</h1>
        <div class="input-group ps-3 pb-2 w-50">
            <input class="col-8"
            type="search" 
            id="search-input" 
            class="form-control rounded" 
            placeholder="Search by Location"
            aria-label="Search" 
            aria-describedby="search-addon" />
            <input type="submit" class="col-2 btn btn-success" onclick="applyFilters()" value="Submit">
        </div>
        <div class="list-group">
            <% hotels.forEach(function(hotel) { %>
                <div class="row px-3 py-1 w-100">
                    <span class="col py-1 text-light rounded me-1"
                    style="background-color: rgba(53, 53, 53, 0.877)">
                        <%=hotel.Name%>
                            <span class="right">
                                <%=hotel.Location%>
                            </span>
                    </span>
                    <a href="/rooms/<%=hotel.id%>" class="col btn btn-success me-1"> Rent a room</a>
                    <a href="/hotels/<%=hotel.id%>" class="col btn btn-success me-1"> Details</a>
                <% if(userRole == 'Admin') {%>
                    <button onclick="deleteHotel(<%=hotel.id%>)" class="col btn btn-danger"> Delete</button>
                <% } %>
                </div>
                <% }); %>
                <% if(userRole == 'Admin') {%>
                <div class="row px-3 py-1 w-100 d-flex justify-content-end">
                    <button onclick="addHotel()" class="col btn btn-warning"> 
                    Add Hotel
                </button>
            </div>
        </div>
    </div>
    <% } %>
    <script src="../javascripts/managing.js"></script>
</body>

</html>