<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/navbar.ejs') %>
            <div class="container">
                <h1 class="p-3 text-dark">Users Reservations</h1>
                <div class="input-group ps-3 pb-2 w-50">
                    <input class="col-8" type="search" id="search-input" class="form-control rounded"
                        placeholder="Search by User Name" aria-label="Search" aria-describedby="search-addon" />
                    <input type="submit" class="col-2 btn btn-success" onclick="applyFiltersRes()" value="Submit">
                </div>
                    <table class="table rounded"
                        style="background-color: rgba(53, 53, 53, 0.877);
                        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;">
                        <thead class="text-warning">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Surame</th>
                                <th scope="col">Hotel name</th>
                                <th scope="col">Hotel location</th>
                                <th scope="col">Room capacity</th>
                                <th scope="col">Price per day</th>
                                <th scope="col">Rent from:</th>
                                <th scope="col">Rent to:</th>
                            </tr>
                        </thead>
                        <tbody class="text-light">
                            <% users.forEach((user)=>{ %>
                                <% user.Rooms.forEach((room)=>{ %>
                                <tr>
                                    <td>
                                        <%=user.FirstName%>
                                    </td>
                                    <td>
                                        <%=user.LastName%>
                                    </td>
                                    <td>
                                        <%=room.Hotel.Name%>
                                    </td>
                                    <td>
                                        <%=room.Hotel.Location%>
                                    </td>
                                    <td>
                                        <%=room.Capacity%>
                                    </td>
                                    <td>
                                        <%=room.PricePerDay%>
                                    </td>
                                    <td>
                                        <%=new Date(room.Reservation.StartDate).toLocaleDateString()%>
                                    </td>
                                    <td>
                                        <%=new Date(room.Reservation.EndDate).toLocaleDateString()%>
                                    </td>
                                </tr>
                                <% });%>
                                <% });%>
                        </tbody>
                    </table>
            </div>
            <script src="../javascripts/managing.js"></script>
    </body>

</html>