<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/navbar.ejs') %>
            <div class="container">
                <h2 class="p-3 text-dark">Users Reservations</h2>
                    <table class="table rounded"
                        style="background-color: rgba(53, 53, 53, 0.651); 
                        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;">
                        <thead class="text-warning">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Surame</th>
                                <th scope="col">Hotel name</th>
                                <th scope="col">Hotel location</th>
                                <th scope="col">Room capacity</th>
                                <th scope="col">Price per day</th>
                                <th scope="col">Rent from:</th>
                                <th scope="col">Rent to:</th>
                            </tr>
                        </thead>
                        <tbody class="text-light">
                            <% users.forEach((user)=>{ %>
                                <% user.Rooms.forEach((room)=>{ %>
                                <tr>
                                    <td>
                                        <%=user.FirstName%>
                                    </td>
                                    <td>
                                        <%=user.LastName%>
                                    </td>
                                    <td>
                                        <%=room.Hotel.Name%>
                                    </td>
                                    <td>
                                        <%=room.Hotel.Location%>
                                    </td>
                                    <td>
                                        <%=room.Capacity%>
                                    </td>
                                    <td>
                                        <%=room.PricePerDay%>
                                    </td>
                                    <td>
                                        <%=new Date(room.Reservation.StartDate).toLocaleDateString()%>
                                    </td>
                                    <td>
                                        <%=new Date(room.Reservation.EndDate).toLocaleDateString()%>
                                    </td>
                                </tr>
                                <% });%>
                                <% });%>
                        </tbody>
                    </table>
            </div>
    </body>

</html>