<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container pb-5">
    <h2 class="p-3">Choose a room</h2>
        <div class="list-group">
            <% rooms.forEach(function(room) { %>
                <div class="row px-3 py-1 w-100">
                    <span class="col py-1 text-light rounded me-1" 
                    style="background-color: rgba(53, 53, 53, 0.705)">
                    Room for <%=room.Capacity%> people
                        <span class="right">Daily cost:
                            <%=room.PricePerDay%>
                        </span>
                    </span>
                    <% if (user) { %>
                    <button onclick="makeReservation('<%=userId%>','<%=room.id%>',
                    'http\:\/\/localhost:3000\/rooms\/reservation')" 
                        class="col btn btn-success me-1">
                        Rent a room
                    </button>
                    <% } %>
                    <% if(userRole=='Admin' ) {%>
                    <button onclick="deleteRoom(<%=room.id%>)" 
                    class="col btn btn-danger">
                    Delete
                    </button>
                    <% } %>
                </div>
            <% }); %>
            <% if(userRole=='Admin' ) {%>
            <div class="row px-3 py-1 w-100 d-flex justify-content-end">
                <button onclick="addRoom()" class="col btn btn-warning"> 
                Add Room 
                </button>
            </div>
            <% } %>
        </div>
    </div>
    <script src="../javascripts/managing.js"></script>
</body>

</html>