<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container pb-5">
        <h1 class="p-3">Users</h1>
        <div class="input-group ps-3 pb-2 w-50">
            <input class="col-8" type="search" id="search-input" class="form-control rounded"
                placeholder="Search by Users Name" aria-label="Search" aria-describedby="search-addon" />
            <input type="submit" class="col-2 btn btn-success" onclick="applyFiltersUsers()" value="Submit">
        </div>
        <div class="list-group">
            <% users.forEach(function(user) { %>
                <div class="row px-3 py-1 w-100">
                    <span class="col py-1 text-light rounded me-1" 
                        style="background-color: rgba(53, 53, 53, 0.705)">
                        <%=user.FirstName%>
                        <%=user.LastName%>
                    </span>
                    <a href="/reservations/<%=user.id%>" class="col btn btn-success me-1"> 
                    Reservations
                    </a>
                    <button
                    onclick="deleteUser(<%=user.id%>)" 
                    class="btn btn-danger"> 
                    Delete
                    </button>
                </div>
            <% }); %>
        </div>
    </div>
    <script src="../javascripts/managing.js"></script>
</body>

</html>