<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/navbar.ejs') %>
            <div class="container">
                <h1 class="p-3"><%= user.Username%>'s reservations</h1>
                    <div class="container">
                        <table
                        style="background-color: rgba(53, 53, 53, 0.651); 
                        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;">
                            <thead class="table rounded text-warning">
                                <tr>
                                    <th scope="col">Hotel name</th>
                                    <th scope="col">Hotel location</th>
                                    <th scope="col">Room capacity</th>
                                    <th scope="col">Price per day</th>
                                    <th scope="col">Rent from:</th>
                                    <th scope="col">Rent to:</th>
                                </tr>
                            </thead>
                            <tbody class="table rounded text-light">
                                <% user.Rooms.forEach(function(room){ %>
                                    <tr>
                                        <td>
                                            <%=room.Hotel.Name%>
                                        </td>
                                        <td>
                                            <%=room.Hotel.Location%>
                                        </td>
                                        <td>
                                            <%=room.Capacity%>
                                        </td>
                                        <td>
                                            <%=room.PricePerDay%>
                                        </td>
                                        <td>
                                            <%=new Date(room.Reservation.StartDate).toLocaleDateString()%>
                                        </td>
                                        <td>
                                            <%=new Date(room.Reservation.EndDate).toLocaleDateString()%>
                                        </td>
                                    </tr>
                                    <% });%>
                            </tbody>
                        </table>
                    </div>
            </div>
    </body>
</html>